.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
output/*
!output/.gitkeep
src/output/
models/*
!models/.gitkeep
*.pth
*.pt
*.onnx
*.engine
data/dataset/*
data/conjunto_independiente_val/*
!data/dataset/.gitkeep
!data/conjunto_independiente_val/.gitkeep
runs/
.DS_Store
*.json
data/*.json
data/embeddings.json

